table {
    margin: auto;
    table-layout:fixed;
    max-width: 80%;
}

td {
   height: 3em;
   vertical-align: middle;
   
}

table td:hover {
    background-color: green;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

.card {
    width: 50%;
    margin: auto;
}

.card-body{
    line-height: normal;
}

.red {
    background-color: red;
}



