.game{
    
    table-layout:fixed;
    max-width: 75%;
    margin-bottom: 20px;
    margin-left: 30px;
    
}



.card-body {
    width: 100%;
    font-size: 18px;
    
}
.background-img {
    background: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
  
    
    
}


.td-game {
   height: 4em;
   vertical-align: middle;
   text-align: center;
   font-size: 24px;
   
}

.explanation-text {
    font-size: 25px;
    text-align: left;
}


.td-game:hover {
    background-color: green;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
   
}
.card {
    width: 50%; 
}

.card-body{
    line-height: normal;
}

.red {
    background-color: red;
}

.instructions {
    margin-top: 30px;
    text-align: center;
}

.centered {
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.input{
    font-weight: bold;
    font-size: 20px;
}


@media only screen and (max-width: 800px) {
    .game{
    
        table-layout:fixed;
        max-width: 90%;
        margin-bottom: 20px;
        margin-left: 10px;
        
    }

    .word-title {
        font-size: 24px;
        margin-right: 20px;
    }

    .controls {
     
        width: 100px; 
        height: 50px;
       
    }
}