table {
    margin: auto;
    table-layout:fixed;
    max-width: 80%;
}

td {
   height: 5em;
   vertical-align: middle;
   text-align: center;
   font-size: 24px;
   
}

table td:hover {
    background-color: green;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
   
}
.card {
    width: 50%; 
}

.card-body{
    line-height: normal;
}

.red {
    background-color: red;
}

.instructions {
    margin-top: 50px;
    text-align: center;
}

.centered {
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.input{
    font-weight: bold;
    font-size: 32px;
}
