.centered {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}




.grad-pic {
    margin-right: 150px;
    border-radius: 10px;
}



.link-img {
    height: 125px;
    width: 125px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 20%;
}

.over {
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
   
    .link-img {
        height: 75px;
        width: 75px;
        margin-left: 50px;
    }
    .over{
        font-size: 18px;
        text-align: center;
        
    }

    .grad-pic{
        height: 0px;
        width: 0px;
        
    }

    .link-text {
        font-size: 18px;
        color: purple;
        
        
    }
}

@media only screen and (max-width: 1200px){
    .grad-pic{
        height: 0px;
        width: 0px;
        
    }
   
}
