.main-sec{
    display: flex;
    margin-top: 80px;
    
  
}


.greet-image{
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 10%;

}

.greetings {
    font-size: 26px;
    text-shadow: 1px 1px white;
    
}

.centered {
    margin-top: 100px;
    margin-bottom: 30px;
    
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}




.nav-link {
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 18px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 20px;
        
    }
    .greet-image {
        margin: auto;
    }

    .header {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
   
}

@media only screen and (max-width: 780px){
    .nav-link {
        text-align: center;
    }
}