.main-sec{
    display: flex;
    margin-top: 80px;
    
  
}

.push-down {
    margin-bottom: 100px;
}
.job-skills-text {
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
}




.sixfour {
   height: 32px;
   width: 32px; 
}

.font-indie {
    font-family: 'Indie Flower', cursive;
  }


.greet-image{
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 10%;

}

.blue {
    color: navy;
}

.greetings {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    text-shadow: 1px 1px lavender;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    
}

.centered {
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.push-down {
    margin-bottom: 100px;
}

h1 {
    
    text-align: center;
    
}




.nav-link {
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 50px;
    color: navy;
}

.nav {
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 20px;
        font-family: 'Indie Flower', cursive;
        margin-bottom: 20px;
        padding-right: 0px;
        padding-left: 0px;
        
    }
   

    .header {
        margin-top: 25px;
        margin-bottom: 20px;
      
    }

    .sixfour {
        height: 16px;
        width: 16px; 

     }

   
}

@media only screen and (max-width: 800px) {
    .sixfour {
        height: 18px;
        width: 16px; 
     }
     .push-down {
        margin-bottom: 0px;
    }
    .greet-image {
        align-items: center;
    }
}

@media only screen and (max-width: 1200px){
    .nav-link {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }
}