.main-weather{
    padding-top: 50px;
    background: skyblue;
    text-align: center;
    
    margin: auto; 
    font-family: 'Didact Gothic', sans-serif;
    border: 10px black;
}

.city-selector{
    margin-bottom: 30px;
}

.radio-button {
    margin-right: 20px;
}

.large-text {
    font-size: 75px;
    margin-bottom: 50px;
    
}

.right-space {
    margin-right: 30px;
    font-size: 20px;
}

.choose-city{
    margin-bottom: 30px;
}

.weather-img {
    height: 300px;
    width: 300px;
}



.descriptor-data{
    margin-bottom: 40px;
    font-size: 25px;
}

.descriptor-space {
    margin: 25px;
}

.descriptor-title {
    font-size: 35px;
    text-shadow: 1px 1px black;
}

image {
    margin: auto;
}

.explanation-text {
    font-size: 25px;
    margin-left: 100px;
}
@media only screen and (max-width: 800px) {
    .weather-img {
        height: 150px;
        width: 150px;
    }


}

@media only screen and (max-width: 600px) {
    .descriptor-title {
        font-size: 18px;
        text-shadow: 1px 1px black;   
    }

    .descriptor-data {
        font-size: 15px;
    }

  


}

@media only screen and (max-width: 800px) {
  

   .choose-city{
       font-size: 28px;
   }


}